
h1 {
  font-family: 'SEGA LOGO FONT';
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-size: 70px !important;
  letter-spacing: 10px;
  padding-bottom:20px;
  box-shadow: 25px 10px 10px rgb(0, 0, 0, .2) !important;
  margin-bottom: 15px !important;
}

@media screen and (max-width:800px) {
  h1 {
    font-size: 50px !important;
    letter-spacing: 5px;
  }
}

@media screen and (max-width:540px) {
  h1 {
    font-size:34px !important;
  }
}